﻿@using System.Security.Claims
@model MovieDescriptionVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MovieVault</h1>
    <p>Here you can search for movies and tv-shows, you can also save them to your list if you are logged in.</p>
</div>

<div class="row mb-4">
    <div class="col-md-8 offset-md-2">
        <input type="text" id="searchInput" class="form-control" placeholder="Search for a movie or tvshow..." />
        <ul id="suggestions" class="list-group" style="display:none; position: absolute; z-index: 1000;"></ul>
    </div>
    <div class="col-md-2">
        <button id="searchButton" class="btn btn-primary">Search</button>
    </div>
</div>

<div id="movieInfo" class="mt-4"></div><!-- Movie information will be displayed here -->
@section Scripts {
    <script src="~/js/site.js"></script> 
}